---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import {
	getDirectusAdminClient,
	getDirectusUserClient,
	getStoredAuthInfo,
} from "$src/utils/directus-client.js";
import * as authCookie from "$src/utils/auth-cookie.js";

// const directusAdmin = await getDirectusAdminClient();
// const admin = await directusAdmin.users.me.read();

async function currentDirectusUser(request, response) {
	const authInfo = authCookie.read(request);
	if (!authInfo) {
		return {};
	}

	try {
		const directusUserClient = await getDirectusUserClient(authInfo);
		const loggedInUser = await directusUserClient.users.me.read();
		// get the current token to check whether the token has been refreshed
		const accessToken = await directusUserClient.auth.token;
		if (accessToken !== authInfo.access_token) {
			// the token has been refreshed. save it in the cookie.
			console.log("token refreshed.");
			authCookie.set(response, getStoredAuthInfo(directusUserClient));
		}

		return {
			currentUser: loggedInUser,
			directusClient: directusUserClient,
		};
	} catch (err) {
		// console.log("http response status:", err?.response?.status);
		console.error(err);
		if ([400, 401, 403].includes(err?.response?.status)) {
			console.log("Invalid credentials. Removing the cookie.");
			authCookie.unset(response);
		}

		return {};
	}
}

const { currentUser, directusClient } = await currentDirectusUser(
	Astro.request,
	Astro.response
);

let userStr, accessTokenExpiresAt;
if (currentUser) {
	userStr = JSON.stringify(currentUser, null, 2);
	accessTokenExpiresAt = getStoredAuthInfo(directusClient).expires_at;
}
---

<style>
	main {
		margin-block-start: 2rem;
	}
</style>

<DefaultLayout>
	<main>
		<section class="main-content">
			<div class="container">
				{
					!currentUser && (
						<form method="post" action="/login">
							<input
								type="hidden"
								name="email"
								value="test-user-1@example.com"
							/>
							<input type="hidden" name="password" value="password" />
							<button type="submit">Login as Test User 1</button>
						</form>
					)
				}

				{
					currentUser && (
						<div>
							<h2>You are logged in</h2>
							<form method="post" action="/logout">
								<button type="submit">Logout</button>
							</form>
							<p>
								Your auth token will expire on {new Date(accessTokenExpiresAt)}
							</p>
							<p>Your data as queried from Directus</p>
							<pre>{userStr}</pre>
						</div>
					)
				}
			</div>
		</section>
	</main>
</DefaultLayout>
