---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import {
	getDirectusAdminClient,
	getStoredAuthInfo,
} from "$src/utils/directus-client.js";
import { currentDirectusUser } from "$src/utils/auth.js";

// const directusAdmin = await getDirectusAdminClient();
// const admin = await directusAdmin.users.me.read();
// console.dir(admin, { depth: 5 });

const { currentUser, directusClient } = await currentDirectusUser(
	Astro.request,
	Astro.response
);

let userStr, accessTokenExpiresAt;
if (currentUser) {
	userStr = JSON.stringify(currentUser, null, 2);
	accessTokenExpiresAt = getStoredAuthInfo(directusClient).expires_at;
}
---

<style>
	main {
		margin-block-start: 2rem;
	}
</style>

<DefaultLayout>
	<main>
		<section class="main-content">
			<div class="container">
				{
					!currentUser && (
						<form method="post" action="/login">
							<input
								type="hidden"
								name="email"
								value="test-user-1@example.com"
							/>
							<input type="hidden" name="password" value="password" />
							<button type="submit">Login as Test User 1</button>
						</form>
					)
				}

				{
					currentUser && (
						<div>
							<h2>You are logged in</h2>
							<form method="post" action="/logout">
								<button type="submit">Logout</button>
							</form>
							<p>
								Your auth token will expire on {new Date(accessTokenExpiresAt)}
							</p>
							<p>Your data as queried from Directus</p>
							<pre>{userStr}</pre>
						</div>
					)
				}
			</div>
		</section>
	</main>
</DefaultLayout>
