---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getDirectusAdminClient } from "../utils/get-directus-client";

const directusAdmin = await getDirectusAdminClient();
const admin = await directusAdmin.users.me.read();
---

<style>
	main {
		margin-block-start: 10rem;
	}
</style>

<DefaultLayout>
	<main>
		<section class="main-content">
			<div class="container">
				<form method="post" action="/login">
					<input type="hidden" name="email" value="test-user-1@example.com" />
					<input type="hidden" name="password" value="password" />
					<button type="submit">Login as Test User 1</button>
				</form>
			</div>
		</section>
	</main>
</DefaultLayout>
